.banner {
    @include verticalCenter;
    height: 223px; 
    width: 100%;
    margin-top: 55px;
  
    .image-container {
    @include margin;
      position: relative;
      height: 100%;
      width: 100%;

      img {
        height: 223px; 
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
      }

      .text-overlay {
        @include verticalCenter;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3); 
        color: $color-2; 
        border-radius: 25px;
             
        h2 {
          text-align: center;
          margin: 0 15px;
          font-size: 48px;
          font-weight: 500;
          animation: fadeIn 1.5s ease-in-out;
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

      }
    }
  }
