.main_error {
    @include margin;
    @include verticalCenter;
    flex-direction: column;

    h1 {
        font-weight: 700;
        font-size: 288px;
        margin: 120px 0 140px;
    }

    .text_404 {
        font-size: 36px;
        margin-bottom: 140px;
    }

    .link_404 {
        color: $color-1;
        text-decoration: underline;
        font-size: 18px;
        margin-bottom: 140px;
    }
}